In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from imblearn import under_sampling, over_sampling

In [6]:
data = pd.read_csv('train.csv', sep=';')

# Dokumentasi & Catatan

## 01. Info Dataset

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

## 02. Sample / Describe

In [8]:
data.sample(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
39969,41,blue-collar,married,secondary,no,140,yes,no,cellular,3,jun,96,1,125,2,failure,no
7576,45,admin.,married,secondary,no,840,yes,no,unknown,30,may,54,3,-1,0,unknown,no
4326,30,technician,single,tertiary,no,880,yes,yes,unknown,19,may,967,6,-1,0,unknown,yes
37833,27,blue-collar,married,secondary,no,-330,yes,yes,cellular,14,may,88,1,353,2,failure,no
781,47,blue-collar,married,secondary,no,1001,yes,no,unknown,7,may,201,4,-1,0,unknown,no
29207,33,management,single,tertiary,no,5437,no,no,cellular,2,feb,78,1,-1,0,unknown,no
3004,51,blue-collar,married,secondary,no,7180,yes,no,unknown,14,may,927,1,-1,0,unknown,yes
39199,25,blue-collar,single,secondary,no,320,yes,no,cellular,18,may,549,3,-1,0,unknown,no
33940,60,retired,married,secondary,no,89,no,no,cellular,30,apr,156,2,-1,0,unknown,no
8722,59,management,divorced,tertiary,no,1611,yes,no,unknown,4,jun,107,2,-1,0,unknown,no

# Data Cleansing

## a. Handle Missing Value

In [10]:
data.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

Tidak Perlu dilakukan cleansing

## b. Handle Duplicated Data

In [11]:
data.duplicated().sum()

0

In [20]:
data.duplicated(subset=['age','job','marital','education','housing','loan','contact','balance','housing','loan']).sum()

3177